html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#content1 {
	position:fixed;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: 'Cousine';font-size: 20px;
}
