* {
    padding: 0;
    margin: 0;
}

#generatedColor {
    border-top: 1vh solid white;
    border-bottom: 0.5vh solid white;
    border-left: 1vh solid white;
    border-right: 1vh solid white;
    width: auto;
    height: 48.5vh;
    background-color: dimgrey;
    color: white;
}

#currentColor {
    border-top: 0.5vh solid white;
    border-bottom: 1vh solid white;
    border-left: 1vh solid white;
    border-right: 1vh solid white;
    width: auto;
    height: 48.5vh;
    background-color: dimgrey;
    color: white;
}

#percentage {
    border-top: 1vh solid white;
    border-bottom: 1vh solid white;
    border-left: 1vh solid white;
    border-right: 1vh solid white;
    position: absolute;
    text-align: center;
    color: white;
}